{
  "presets": [
    ["env", {
      // "modules": false,// exports is not defined 遇到该错就注释掉，exports需要用modules
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "es2015",
    "stage-2"
  ],
  "comments": true,
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
