.container-fluid {
    margin: 0 auto;
    overflow: hidden;
}
@media (min-width: 768px){
    .container-fluid {
        width: 750px;
    }
}

@media (min-width: 992px){
    .container-fluid {
        width: 800px;
    }
}

@media (min-width: 1200px){
    .container-fluid {
        width: 1200px;
    }
}



/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-6,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
    float: left;
}
.col-xs-1 {
    width: 8.333333%;  /*  十二分之一 */
}
.col-xs-2 {
    width: 16.66667%;  /*  十二分之二 */      
}
.col-xs-3 {
    width: 25%;
}
.col-xs-4 {
    width: 33.33334%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-8 {
    width: 66.66667%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-10 {
    width: 83.33334%;
}
.col-xs-11 {
    width: 91.66667%;
}
.col-xs-12 {
    width: 100%;  /*  十二分之十二 */
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) { 
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-6,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
        float: left;
    }
	.col-sm-1 {
		width: 8.333333%;  /*  十二分之一 */
	}
	.col-sm-2 {
		width: 16.66667%;  /*  十二分之二 */      
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.33334%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-8 {
		width: 66.66667%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.33334%;
	}
	.col-sm-11 {
		width: 91.66667%;
	}
	.col-sm-12 {
		width: 100%;  /*  十二分之十二 */
	}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) { 
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-6,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
        float: left;
    }
	.col-md-1 {
		width: 8.333333%;  /*  十二分之一 */
	}
	.col-md-2 {
		width: 16.66667%;  /*  十二分之二 */      
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33334%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-8 {
		width: 66.66667%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.33334%;
	}
	.col-md-11 {
		width: 91.66667%;
	}
	.col-md-12 {
		width: 100%;  /*  十二分之十二 */
	}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) { 
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-6,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        float: left;
    }
	.col-lg-1 {
		width: 8.333333%;  /*  十二分之一 */
	}
	.col-lg-2 {
		width: 16.66667%;  /*  十二分之二 */      
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33334%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-8 {
		width: 66.66667%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.33334%;
	}
	.col-lg-11 {
		width: 91.66667%;
	}
	.col-lg-12 {
		width: 100%;  /*  十二分之十二 */
	}
}
